[Desktop Entry]
Name=xst
Comment=xst is a fork of st, which is a simple terminal implementation for X.
TryExec=xst
Exec=xst
Icon=utilities-terminal
Type=Application
Categories=Utility;TerminalEmulator;System;
StartupNotify=true
Keywords=terminal;shell;prompt;command;commandline;
